# ini komentar
*.[oa]             # abaikan file *.o dan *.a
*~                 # abaikan file yang diakhiri dengan ~
*.bak              # abaikan file dengan ekstensi .bak
!file.bak          # pengecualian, file.bak tidak diabaikan
/config